/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  color: #000;
  font-size: 16px;
  display: flex;
  box-sizing: border-box;

  font-family: var(--font-family);
}
